
:root {
  --bg-color: #000000;
  --text-color: #FF0000;
  --link-color: #FF5555;
  --header-color: #AA0000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Helvetica Neue", sans-serif;
  padding: 1rem;
}

a {
  color: var(--link-color);
}

h1, h2, h3, h4, h5 {
  color: var(--header-color);
}
