
body {
  font-family: "Noto Serif SC", serif;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}
header, footer {
  background-color: #6d071a;
  color: white;
  padding: 1rem;
  text-align: center;
}
a {
  color: #b00a0a;
}
